node_modules
dist
npm-debug.log
.env
.git
.gitignore
README.md
.vscode
.idea
coverage
.husky
tests
*.test.ts
vitest.config.ts
bruno
.prettierrc
.prettierignore
eslint.config.mjs
tsconfig.json
docker-compose.yml
